<body>
<div class="search-box">
    <form class="example-form">
        <mat-form-field class="example-full-width " appearance="fill" color="warn">
          <mat-label>Movies</mat-label>
          <input matInput #message maxlength="256" placeholder="Search for a movie...">
        </mat-form-field>
      </form>
</div>
<div class="movies">
    <div *ngFor = "let movie of movies" [routerLink]="['/details', movie._id]"  class="movie">
            <img 
            src={{movie.cover}}
            alt=""
            class="movie-thumbnail">
    </div>
</div>
</body>
