body {
  background-color: black;
  background-image: url("../../../assets/movie2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: auto;
  min-height: 100%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.search-box-container{
  display: flex;
  align-items: center;
  justify-content: center;

}
.search-box {
  margin-top: 20px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.filters{
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 40px;

}

.movies{
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.movie{
  width: 280px;
  margin: 10px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  background-color: black;
  transition-duration: 0.3s;
  cursor: pointer;
}

.movie:hover{
  box-shadow: 2px 2px 30px 0px white;
  transform: translateY(-3px);
}

.movie-thumb-container{
  background-color: black;
  position: relative;
  height: 172px;
  color: #fff;
  text-align: center;
  margin-bottom: -20px;
}

.movie-thumbnail{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  margin: 0 auto;
  height: 172px;
}
.movie-description{
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 157px;

}

.platforms{
  display: flex;
  margin-top: 15px;
}
.movie-platforms{
  width: 20px;
  margin-right: 20px;
}

.movie-info{
color: white;
font-size: 6px;
margin-top: 5px;
}

.movie-name{
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
