body {

  background-image: url("../../../assets/movie2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: auto;
  margin: 0;
  
}

.search-box-container{

  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;

}
.search-box {
  display: block;
  min-width: 450px;
  max-width: 500px;


}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.filters{
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 40px;

}

.movies{
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin-left:200px; ;
  margin-right: 200px;

}
.movie{
  width: 280px;
  margin: 10px;
  height: 370px;
  overflow: hidden;
  border-radius: 5px;
  background-color: black;
  transition-duration: 0.3s;
  cursor: pointer;
}

.movie:hover{
  box-shadow: 2px 2px 30px 0px white;
  transform: translateY(-3px);
}

.movie-thumbnail{
  width: 100%;
  height: auto;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(255, 255, 255) !important;
} 


::ng-deep.mat-form-field-empty.mat-form-field-label {

color:white;
}

::ng-deep.mat-form-field-empty.mat-form-field{

  color:white;
  }