<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isLoggedIn">
      <mat-icon>power_settings_new</mat-icon>
      Login or Sign Up
    </button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()" routerLink="/login">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-button (click)="goToMyProfile()" *ngIf="isLoggedIn">
      <mat-icon>account_circle</mat-icon>
      Profile
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>