body {
    background-color: black;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    height: auto;

}


.profile-info{
  min-width: 200px;
}

.student-profile .card {
  border-radius: 10px;
  display: block;
}

.edit-profile{
  display: inline-flex;
}
.settings{
  margin-left: 5px;
}
.edit-button{
  border: none;
  background-color: white;
  cursor: pointer;

}
.edit-button:hover, .edit-button:hover{
  border: none;
  color: lightgray;
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
  display: block;

}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}






.profile_img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.example-card{
    margin-top: 10px;
    padding-top: 20px;
    background-color: black;
    border-radius: 10px;
    max-width: 300px;
    height: auto;

}




.star{
  color: yellow;
}
.movie-name{
  color: white;
  font-size: 16px;
  margin-right: 20px;
}

.mat-card-image{
  height: 300px;
  border-radius: 10px;
}

.reviews{
display: flex;           
flex-direction: column;  
justify-content: center; 
align-items: center;
}

.review-info{
  display: flex;
  align-items: center;
  width: 100%;
}
.review{
margin-top:40px ;
width: 80%;
}
.comment{
  padding-top: 20px;
  color: white;
  font-size: 16px;
  text-align: center;
}


.mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}




.movies{
  margin-top: 30px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.movie{
  width: 168px;
  margin: 10px;
  height: 222px;
  overflow: hidden;
  border-radius: 5px;
  background-color: black;
  transition-duration: 0.3s;
  cursor: pointer;
}

.movie:hover{
  box-shadow: 2px 2px 30px 0px white;
  transform: translateY(-3px);
}

.movie-thumbnail{
  width: 100%;
  height: auto;
}

.like-btn{
  position: absolute;
  margin-top: 2px;
}

.like-btn:hover{
  color: gray;
}
.like-btn:focus{
 outline: white;
}


.friends{
  margin-top: 30px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.friend{
  margin: 20px;
  color: white;
  display: block;

}

.friend-img{
  width: 50px;
  height: 50px;
  margin-left: 5px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
}

a{
  color: white;
  text-decoration: none;
  display: block;
}

a:hover{
  color:gray;
  text-decoration: none;

}




 
 
 
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(255, 255, 255) !important;
  } 


  ::ng-deep.mat-form-field-empty.mat-form-field-label {
  
  color:white;
}

::ng-deep .mat-form-field{
  color:white
}

.search-box-friends{
  margin-top: 30px;
}
.edit{
  background-color: transparent;
  color: #000;
  border: none;
}