body {
  background-color: black;
  background-image: url("../../../assets/movie2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: auto;
  min-height: 100%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


 .movie_img {
object-fit: contain;
margin: -1px;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}
.like-btn{
  position: absolute;
  align-self:  flex-end;
  margin-top: 8px;
  margin-right: 8px;
}

.like-btn:hover{
  color: gray;
}
.like-btn:focus{
 outline: white;
}

.user {
  color: darkred;
}
